@import 'variables.scss';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.125rem;
  font-family: 'Bai Jamjuree';
  font-weight: 400;
  color: $grayishBlue;
  margin: 0;
}
